
html,body{
	background-color: rgb(16,21,22);
	color: #EEEEEE;
}

em{
	font-style: italic;
}

h2{
	color: #e3e48b;	
}

a{
	color: #e3e48b;
}

a:visted{
	color: #e3e48b;
}

a:hover{
	color: #983032;
}

#header{
	font-family: 'Mouse Memoirs', serif;
	color: #e3e48b;
	margin: 10px;
	font-size: 2.1em;
	margin-left: -80px;
	letter-spacing: 2px;
	height: 90px;
}
#header img{
	margin-right: 10px;
}
#content{
	margin: auto;
	width: 1200px;
}

#header span{

}

#standin {
	width: 800px;
}

#howto{
	width: 800px;
	float: left;
	color: #FFFFFF;
	margin-top: 10px;
	font-family: 'Fenix', serif;
	font-size: 1.4em;	
}

#download{
    width:390px; 
    height:252px; 
    background:url(images/download_rolled.png);
    float: right;
}

#download img:hover{
	opacity: 0;
}

#download{
	float:right;
}

#feed {
	float: right;
	width: 390px;
}

#footer {
	clear: both;
	color: #AAA;
}